<div class="container">
	<div class="container_header">
		<h1 class="page__title">GAME: {{name}}</h1>
		<a class="borga__logo" href={{url}}><img class="borga__image" src="/atlas_logo.png" alt=""></a>
	</div>
	<div class="container__details">
		<div class="container__line">
			<h2 class="subtitle">Description: </h2>
			<p class="fulltext">{{description_preview}}</p>
			<h2 class="subtitle">Mechanics: </h2>
			<p class="fulltext">{{mechanics}}</p>
			<h2 class="subtitle">Categories: </h2>
			<p class="fulltext">{{categories}}</p>
		</div>

	</div>
	<div class="container__image">
		<img class="games_images" src={{image_url}}>
	</div>
</div>